<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Sales Order Tickets</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="." class="pure-menu-link">
      <i class="fa fa-heartbeat"></i>
      Example
    </a>
  </div>
</div>
