{% if kanban_card and kanban_card.column.lane.funded %}
  {% if ticket.funded %}
    {% if ticket.funded.free_of_charge %}
    {% else %}
      <tr valign="top">
        <td>
          <a href="{% url 'sales.order.ticket.update' ticket.pk %}">
            <i class="fa fa-edit fa-fw"></i>
            Sales Order
          </a>
        </td>
        <td>
          {% if sales_order_ticket %}
            <a href="{% url 'sales.order.detail' sales_order_ticket.sales_order.pk %}">
              {{ sales_order_ticket.sales_order.title }}
            </a>
          {% endif %}
        </td>
      </tr>
    {% endif %}
  {% endif %}
{% endif %}
