{% extends 'crm/base.html' %}

{% block sub_title %}
  Sales Order Ticket
  for
  {{ object.contact.get_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Sales Order Ticket
  for
  {{ object.contact.get_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'ticket.detail' object.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        <a href="{% url 'ticket.detail' object.pk %}">
          Ticket
          #{{ object.pk }}
        </a>
        {{ object.title }}
        for
        <a href="{% url 'contact.detail' object.contact.pk %}">
          {{ object.contact.get_full_name }}
        </a>
      </p>
      {% if parent %}
        <p>
          <strong>Sub-ticket</strong> of {{ parent.pk }}, {{ parent.title }}
        </p>
      {% endif %}
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
